p.p1{
    background-color: rgb(181, 254, 22);
    text-align: left;
}

p.p2{
    background-color: rgb(181, 254, 22);
    text-align: right;
}

p.p3{
    background-color: rgb(181, 254, 22);
    text-align: center;
}

p.p4{
    background-color: rgb(181, 254, 22);
    text-align: justify;
}